body {
  margin: 0;
  font-family: sans-serif;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* กล่อง */
.card {
  background: #ddd;
  width: 320px;
  height: 260px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.button:hover {
  background: #bbb;
  transform: scale(1.05);
}
/* หัวข้อ */
.title {
  background: #ccc;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* ปุ่มวงกลม */
.button {
  width: 110px;
  height: 110px;
  background: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #bbb;
  transform: scale(1.05);
}

/* ปุ่ม home */
.home {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
}
.home:hover {
  background: #bbb;
  transform: scale(1.05);
}
/* ซ่อน */
.hidden {
  display: none;
}

/* ตัวเลือก */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ccc;
  margin: 8px 0;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  background: #bbb;
  transform: scale(1.05);
}